<html xmlns:th="https://www.thymleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-center text-white">
				<h3>Slots Result</h3>
			</div>
			<div class="card-body">
				<div>[[${message}]]</div>
				<table class="table table-hover">
					<tr class="bg-info text-white">
						<!--<th>ID</th>-->
						<th># </th>
						<th>DATE</th>
						<th>NO. OF SLOTS</th>
						<th>SPECIALIZATION</th>
						<th>AMOUNT</th>
						<th>OPERATION</th>
					</tr>
					<tr th:each="ob,i:${list}">
						<td th:text="${i.count}"></td>
						<td th:text="${ob[0]}"></td>
						<td th:text="${ob[1]}"></td>
						<td th:text="${ob[2]}"></td>

						<td>
							<a th:href="#" class="btn btn-success">BOOK REQUEST</a>|

						</td>
					</tr>
				</table>

			</div>


		</div>
	</div>
</body>

</html>

