<html>
  <div th:replace="fragments/commonui :: header"></div>
</html>
<body>
 <div th:replace="fragments/commonui :: menu"></div>
   <div class="container">
    <div class="card">
       <div class="card-header bg-primary text-center text-white">
        <h3>Patient Register Form</h3>
       </div>
       <div class="card-body">
        <form th:action="@{/patient/save}" method="POST">
           <!--ROW#1-->
           <div class="row">
            <div class="col-2">
              <label for="firstName">FirstName</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                name="firstName"
                id="firstName"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <span id="firstNameError"></span>
            </div>
          </div>
           <!--ROW#2-->
           <div class="row">
            <div class="col-2">
              <label for="lastName">LastName</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                name="lastName"
                id="lastName"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <span id="lastNameError"></span>
            </div>
          </div>
           <!--ROW#3-->
           <div class="row">
            <div class="col-2">
              <label for="gender">Gender</label>
            </div>
            <div class="col-4">
             <select name="gender" id="gender" class="form-control">
                 <option value="Male">Male</option>
                 <option value="Female">Female</option>
                 <option value="Other">Other</option>
             </select>
            </div>
            <div class="col-6">
              <span id="genderError"></span>
            </div>
          </div>
           <!--ROW#4-->
           <div class="row">
            <div class="col-2">
              <label for="mobile">Phone</label>
            </div>
            <div class="col-4">
              <input
                type="text"
                name="mobile"
                id="mobile"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <span id="mobileError"></span>
            </div>
          </div>
           <!--ROW#5-->
           <div class="row">
            <div class="col-2">
              <label for="dateOfBirth">DateOfBirth</label>
            </div>
            <div class="col-4">
              <input
                type="date"
                name="dateOfBirth"
                id="dateOfBirth"
                class="form-control"
              />
            </div>
            <div class="col-6">
              <span id="dateOfBirthError"></span>
            </div>
          </div>
           <!--ROW#6-->
           <div class="row">
            <div class="col-2">
              <label for="marialStatus">Marital Status</label>
            </div>
            <div class="col-4">
              <input
                type="radio"
                name="marialStatus"
                id="marrialStatus1"
                value="Married"
              />Married
              <input type="radio" name="marialStatus" id="marrialStatus2" value="Unmarried"/>Unmarried
              <input type="radio" name="marialStatus" id="marrialStatus3" value="Divorced"/>Divorced
              <input type="radio" name="marialStatus" id="marrialStatus4" value="Separated"/>Separated
            </div>
            <div class="col-6">
              <span id="marialStatusError"></span>
            </div>
          </div>
           <!--ROW#7-->
           <div class="row">
            <div class="col-2">
              <label for="presentAddr">Present Address</label>
            </div>
            <div class="col-4">
              <textarea
                name="presentAddr"
                id="presentAddr"
                class="form-control"
              ></textarea>
            </div>
            <div class="col-6">
              <span id="presentAddrError"></span>
            </div>
          </div>

          <!--ROW#8-->
          <div class="row">
            <div class="col-2">
              <label for="commAddr">Communication Address</label>
            </div>
            <div class="col-4">
              <textarea
                name="commAddr"
                id="commAddr"
                class="form-control"
              ></textarea>
            </div>
            <div class="col-6">
              <span id="commAddrError"></span>
            </div>
          </div>

           <!--ROW#9-->
           <div class="row">
            <div class="col-2">
              <label for="mediHistory">Medical History</label>
            </div>
            <div class="col-4">
            <input type="checkbox" name="mediHistory" id="mediHistory1" value="Ulcer"/>Ulcer
            <input type="checkbox" name="mediHistory" id="mediHistory2" value="Ulcer"/>Cancer
            <input type="checkbox" name="mediHistory" id="mediHistory3" value="Bp"/>BP
            <input type="checkbox" name="mediHistory" id="mediHistory4" value="Sugar"/>Sugar
            </div>
            <div class="col-6">
              <span id="mediHistoryError"></span>
            </div>
          </div>

           <!--ROW#10-->
           <div class="row">
            <div class="col-2">
              <label for="ifOther">IF Other History
                <input type="checkbox" name="mediHistory" id="mediHistory5" value="ifOther"/>
              </label>
            </div>
            <div class="col-4">
            
            <input type="text" name="ifOther" id="ifOther" class="form-control" />
            </div>
            <div class="col-6">
              <span id="mediHistoryError"></span>
            </div>
          </div>

          <!--ROW#11-->
          <div class="row">
            <div class="col-2">
              <label for="note">Note</label>
            </div>
            <div class="col-4">
              <textarea
                name="note"
                id="note"
                class="form-control"
              ></textarea>
            </div>
            <div class="col-6">
              <span id="noteError"></span>
            </div>
          </div>

          <button type="submit" class="btn btn-success">
            Create<i class="fa-regular fa-square-plus"></i>
          </button>


        </form>

       </div>
       <div class="card-footer">
        <span>[[${message}]]</span>
       </div>
    </div>
   </div>
</body>
</html>