<html xmlns:th="https://www.thymleaf.org/">

  <div th:replace="fragments/commonui :: header"></div>

  <body>
   <div th:replace="fragments/commonui :: menu"></div>
    <div class="container">
      <div class="card"><div class="card-header bg-primary text-center text-white">
        <h3>Patient Data</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <tr class="bg-info text-white">
            <!--<th>ID</th>-->
            
            <th>NAME</th>
            <th>GENDER</th>
            <th>MOBILE</th>
            <th>MEDICAL HISTORY</th>
            <th>OPERATION</th>
          </tr> 
          <tr th:each="ob:${list}">
            
               <td> [[${ob.firstName + ' ' +ob.lastName}]]</td>
               <td th:text="${ob.gender}"></td>
               <td th:text="${ob.mobile}"></td>
               <td >[[${ob.medicalHistory +"-"+ ob.ifOther}]]</td>
             
               <td>
                  <a th:href="@{/patient/delete(id=${ob.id})}" class="btn btn-danger">DELETE<i class="fa-regular fa-trash-can"></i></a>| 
                   <a th:href="@{/patient/edit(id=${ob.id})}" class="btn btn-warning">EDIT<i class="fa-light fa-pen-to-square"></i></a>
               </td>
          </tr>
        </table>

      </div>
      <div class="card-footer" bg-white text-success th:if="${message != null}">
        <span th:text="${message}">message</span>
      </div>

      </div>
    </div>
  </body>
</html>
