<html xmlns:th="https://www.thymleaf.org/">

<div th:replace="fragments/commonui :: header"></div>

<body>
	<div th:replace="fragments/commonui :: menu"></div>
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-center text-white">
				<h3>SLOT REQUEST Data</h3>
			</div>
			<div class="card-body">
				<table class="table table-hover">
					<tr class="bg-info text-white">
						<!--<th>ID</th>-->
						<th> </th>
						<th>PATIENT</th>
						<th>DATE</th>
						<th>DOCTOR</th>
						<th>STATUS</th>
						<th>OPERATION</th>
					</tr>
					<tr th:each="ob,i:${list}">

						<td>[[${i.count}]]</td>
						<td> [[${ob.patient.firstName + ' ' +ob.patient.lastName}]]</td>
						<td>[[${ob.appointment.date}]]</td>
						<td>[[${ob.appointment.doctor.firstName + ' '+ob.appointment.doctor.lastName}]]</td>


						<td >
							<th:block th:if="${ob.status='PENDING'}">
								<a th:href="@{/slot/accept(id=${ob.id})}" class="btn btn-danger">ACCEPT<i
										class="fa-regular fa-trash-can"></i></a>|
								<a th:href="@{/slot/reject(id=${ob.id})}" class="btn btn-warning">REJECT<i
										class="fa-light fa-pen-to-square"></i></a>

							</th:block>

							<th:block th:if="${ob.status == 'ACCEPTED' || ob.status == 'REJECTED'}">
						<td>[[${ob.status}]]</td>
						</th:block>
						</td>
					</tr>
				</table>

			</div>


		</div>
	</div>
</body>

</html>