<html xmlns:th="http://www.thymeleaf.org/">
  
  <div th:replace="fragments/commonui :: header"></div>
  
<body>
   <div th:replace="fragments/commonui :: menu"></div>
   <div class="container">
    <div class="card">
       <div class="card-header bg-primary text-center text-white">
        <h3>USER NEW PASSWORD</h3>
       </div>
       <div class="card-body">
        <form  id="pwdForm" th:action="@{/user/pwdUpdate}" method="POST">
          <div class="row">
            <div class="col-3">
              <label>New Password</label>
            </div>
            <div class="col-4">
              <input type="password" name="password" id="pwd1" class="form-control" required/>
            </div>
            <div class="col-5">
              <span id="pwd1Error"></span>
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              <label>Re Enter Password</label>
            </div>
            <div class="col-4">
              <input type="password" name="password" id="pwd2" class="form-control" required/>
            </div>
            <div class="col-5">
              <span id="pwd2Error"></span>
            </div>
          </div>
          <button class="btn btn-success">Update</button>
        </form>
        </div>
        <div class="card-footer bg-white text-success" th:if="${message != null}">
        
              <span th:text="${message}"></span>
        </div>
        </div>
        </div>
        <script>
          $(document).ready(function(){
            $("#pwd1Error").hide();
              $("#pwd2Error").hide();
              var pwd1Error = false;
              var pwd2Error = false;
              function validate_password1(){
                var val = $("#pwd1").val();
                var exp = /^[A-Za-z0-9\.\-\,\_]{10,150}$/;
                if(val==''){
                     $("#pwd1Error").show();
                     $("#pwd1Error").html("*<b>Password</b> can not be empty")
                     $("#pwd1Error").css('color','red');
                     pwd1Error = false;
                }else if(!exp.test(val)){
                  $("#pwd1Error").show();
                     $("#pwd1Error").html("*<b>Password</b> can have 6 to 20 character")
                     $("#pwd1Error").css('color','red');
                     pwd1Error = false;
                }else{
                    $("#pwd1").hide();
                    pwd1 = true;
                }
                return pwd1;
              }
              function validate_password(){
                var p1 = $("#pwd1").val();
                var p2 = $("#pwd2").val();
                if(p1!= p2){
                  $("#pwd2Error").show();
                  $("#pwd2Error").html("Password not matching");
                  $("#pwd2Error").css('color','red');
                  pwd2Error = false;
                }else{
                  $("#pwd2Error").hide();
                  pwd2Error = true;
                }
                return pwd2Error;
              }
              $("#pwd1").keyup(function(){
                validate_password1();
              });
              $("#pwd2").keyup(function(){
                 validate_password2();
              });
              $("#pwdForm").submit(function(){
                validate_password1();
                validate_password2();
                if(pwd1Error && pwd2Error) return true;
                else return false;
              })
          });
        </script>
</body>
</html>